*{
    margin: 20px;
    
}
.header{
    background-image: url(../images/banner/banner1.png);
    background-image: linear-gradient(top)
    
    
}
    

.button-1{
  background-color: orange;
  border-style: none;
  padding: 15px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  
}