/* universal area */
*{
    margin: 0;
}


/* section header style */
.section-header{
    display: flex;
    text-align: right;
}
.div-header{
    width: 50%;
}

.contact-us{
    text-decoration: none;
    color: white;
    padding: 10px 10px;
    margin: 10px 10 px;
    border-radius: 10px;
    background-color: orangered;
}


/* section body style */
.section-body{
    display: flex;
}

.div-body{
    width: 50%;
}


/* section my plan */
.section-plan{
    display: flex;
    gap: 100px;
    padding-left: 50px;
    text-align: center;
}
.plan-text{
    text-align: center;
}
.div-plan{
    text-align: center;
    
}

/* section positive */
.section-positive{
    background-image: url("../images/watch.png");
    
}
.call-now{
    text-decoration: none;
    color: orangered;
    border-radius: 10px;
    background-color: white;
}

/* section footer */

.section-footer{
    background-color: black;
    color: white;
    display: flex;
    gap: 50%;
}
.di-future{
    
    text-align: left;
}


.Subscribe{
    text-decoration: none;
    color: orangered;
    border-radius: 10px;
    background-color: white;
}



